* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  position: relative;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  object-fit: contain;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
}

.app__headerImage {
  object-fit: contain;
}

.app__signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app__posts {
  padding: 20px;
  display: flex;
  justify-content: center;
}

.app__postsRight {
  margin-left: 20px;
  display: none;
}

@media screen and (min-width: 1024px) {
  .app__postsRight {
    display: initial;
  }
}

/* .instagramEmbed {
  position: fixed;
} */

.app__imageUploadHeaderDiv {
  width: 100vw;
  margin-bottom: 20px;
  position: relative;
}

.app__imageUploadHeader {
  background-color: lightpink;
  border-bottom: 1px solid lightgrey;
  padding: 5px;
  font-size: 14px;
  position: fixed;
  text-align: center;
  width: 100%;
}
